.popula-tech-div {
  height: 500px;
  width: 1200px;
  margin: auto;
  background-color: rgb(37, 4, 66);
  border-radius: 15px;
  margin-top: 100px;
}

.popula-tech-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.popula-tech-details {
  height: 400px;
}

.popula-details-title {
  font-family: Arial;
  font-size: 2.8rem;
  font-weight: bolder;
  text-align: center;
  color: rgb(236, 224, 224);
  margin-bottom: 0;
}

.popula-tech-description{
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: bold;  
    padding-left:20px;
    padding-right: 10px;
    color: rgb(236, 224, 224);
    line-height: 30px;
    margin-top: 15px;
}

.popula-tech-image {
  height: 400px;
}

.overlay-div{
    display: flex;
    align-items: center;
    gap: 20px;
    width:1000px;
    height: 120px;
    margin:auto;
    background-color: white;
    border-radius: 30px;
    margin-top: -50px;
}

.image-in{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-left: 5px;
}

.name{
    font-family: Arial;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.development-image{
    width:100%;
    border-radius:15px;
}

.role{
    margin-top: 0;
    padding: 10px;
    width:700px;
}

/* RESPONSIVE SCREEN */
@media (max-width:360px) {
  .popula-tech-div {
    height: 600px;
    max-width: 340px;
    margin: auto;
    background-color: rgb(37, 4, 66);
    border-radius: 20px;
    margin-top: 50px;
  }
  
  .popula-tech-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  
  .popula-tech-details {
    height: 270px;
    width: 320px;
    margin: auto;
  }
  
  .popula-details-title {
    font-family: Arial;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(236, 224, 224);
    margin-bottom: 0;
  }
  
  .popula-tech-description{
      font-family: Arial;
      font-size: 0.8rem;
      font-weight: bold;  
      padding-left:5px;
      padding-right: 10px;
      color: rgb(236, 224, 224);
      line-height: 20px;
      margin-top: 10px;
  }
  
  .popula-tech-image {
    height: 180px;
    width: 320px;
    margin: auto;
    border-radius: 15px;
  }
  
  .overlay-div{
      display: flex;
      align-items: center;
      gap: 6px;
      width:300px;
      height: 180px;
      margin:auto;
      background-color: white;
      border-radius: 40px;
      margin-top: -60px;
      margin-bottom: 200px;
  }
  
  .image-in{
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-left: 5px;
  }
  
  .name{
      font-family: Arial;
      font-size: 0.9rem;
      margin-bottom: 0;
  }
  
  .role{
      margin-top: 0;
      padding: 8px;
      width: 200px;
  }
}
