.popula-investment-div {
  height: 500px;
  width: 1200px;
  margin: auto;
  background-color: rgb(37, 4, 66);
  border-radius: 15px;
  margin-top: 150px;
}

.popula-investment-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.popula-investment-details {
  height: 400px;
}

.popula-investment-details-title {
  font-family: Arial;
  font-size: 2.8rem;
  font-weight: bolder;
  text-align: center;
  color: rgb(236, 224, 224);
  margin-bottom: 0;
}

.popula-investment-description {
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 10px;
  color: rgb(236, 224, 224);
  line-height: 30px;
  margin-top: 15px;
}

.popula-investment-image {
  height: 400px;
}

.overlay-div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1000px;
  height: 120px;
  margin: auto;
  background-color: white;
  border-radius: 30px;
  margin-top: -50px;
}

.image-in {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-left: 5px;
}

.name {
  font-family: Arial;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.investment-image {
  width: 100%;
  border-radius: 15px;
}

.role {
  margin-top: 0;
  padding: 10px;
  width: 700px;
}

.get-started{
  color: orange;
font-family: cursive;
border: 2px solid orange;
padding: 8px;
margin-left: 10px;
margin-right: 10px;
border-radius: 7px;
}
.get-started:hover{
  background-color: rgb(60, 0, 128);
  color: orange;
  border: 2px solid white;
  cursor: pointer;
}

/* RESPONSIVE SCREEN */

/* Large desktop (1920px and above) */

@media (min-width: 1920px) {
}

/* Medium Desktop View (1440px - 1919px) */
@media (min-width: 1440px) and (max-width: 1919px) {
  .investment-div {
    width: 90%;
    height: 600px;
    background-color: rgb(37, 4, 66);
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 150px;
    margin: auto;
  }

  .investment-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }

 
  .investment-details {
    height: 400px;
    width: 100%;
  }

  .investment-details-title {
    font-family: Arial;
    font-size: 2.1rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(236, 224, 224);
    margin-bottom: 0;
  }

  .investment-description {
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(236, 224, 224);
    line-height: 25px;
    margin-top: 10px;
  }

  .investment-image {
    height: 400px;
    width: 100%;
    margin-right: 10px;
    border-radius: 30px;
  }

  .investment-overlay-div {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 900px;
    height: 170px;
    margin: auto;
    background-color: rgb(213, 165, 245);
    border-radius: 40px;
    margin-top: -80px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px 10px 10px gray;
  }

  .investment-image-in {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
  }

  .investment-name {
    font-family: Arial;
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  .investment-role {
    margin-top: 0;
    padding: 8px;
    width: 400px;
    font-size: 0.7rem;
    font-weight: bold;
  }
}

/* Small Desktop View */
@media (min-width: 1024px) and (max-width: 1439px) {
  .investment-div {
    width: 90%;
    height: 500px;
    background-color: rgb(37, 4, 66);
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 100px;
    margin: auto;
  }

  .investment-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }

  .investment-details {
    height: 380px;
    width: 100%;
  }

  .investment-details-title {
    font-family: Arial;
    font-size: 2.2rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(236, 224, 224);
    margin-bottom: 20px;
  }

  .investment-description {
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(236, 224, 224);
    line-height: 40px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .investment-image {
    height: 380px;
    width: 100%;
    margin-right: 10px;
    border-radius: 30px;
  }

  .investment-overlay-div {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 700px;
    height: 170px;
    margin: auto;
    background-color: rgb(213, 165, 245);
    border-radius: 40px;
    margin-top: -90px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px 10px 10px gray;
  }

  .investment-image-in {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
  }

  .investment-name {
    font-family: Arial;
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  .investment-role {
    margin-top: 0;
    padding: 8px;
    width: 400px;
    font-size: 0.7rem;
    font-weight: bold;
  }
  .get-started{
    color: orange;
  font-family: cursive;
  border: 2px solid orange;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 4px;
  }
}

/* Laptop Screen View */
@media (min-width: 768px) and (max-width: 1023px) {
  .investment-div {
    width: 98%;
    height: 450px;
    margin: auto;
    background-color: rgb(37, 4, 66);
    border-radius: 30px;
    padding-top: 10px;
    margin-top: 90px;
  }

  .investment-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }

  .investment-details {
    height: 300px;
    width: 100%;
    padding: 15px;
  }

  .investment-details-title {
    font-family: Arial;
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(236, 224, 224);
    margin-bottom: 0;
  }

  .investment-description {
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(236, 224, 224);
    line-height: 35px;
    width: 95%;
  }

  .investment-image {
    height: 300px;
    width: 100%;
    border-radius: 30px;
  }

  .investment-overlay-div {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 700px;
    height: 170px;
    margin: auto;
    background-color: rgb(213, 165, 245);
    border-radius: 40px;
    margin-top: -90px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px 10px 10px gray;
  }

  .investment-image-in {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
  }

  .investment-name {
    font-family: Arial;
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  .investment-role {
    margin-top: 0;
    padding: 8px;
    width: 400px;
    font-size: 0.7rem;
    font-weight: bold;
  }
  .get-started{
    color: orange;
  font-family: cursive;
  border: 2px solid orange;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
  }
}

/* Tablet Screen View */
@media (min-width: 601px) and (max-width: 767px) {
  .investment-div {
    height: 700px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(37, 4, 66);
    border-radius: 30px;
    margin-top: 100px;
    margin: auto;
  }

  .investment-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .investment-details {
    height: 250px;
    width: 100%;
    margin: auto;
  }

  .investment-details-title {
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(236, 224, 224);
    margin-bottom: 0;
  }

  .investment-description {
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(236, 224, 224);
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .investment-image {
    height: 300px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    border-radius: 25px;
  }

  .investment-overlay-div {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 500px;
    height: 170px;
    margin: auto;
    background-color: rgb(213, 165, 245);
    border-radius: 40px;
    margin-top: -90px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px 10px 10px gray;
  }

  .investment-image-in {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
  }

  .investment-name {
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .investment-role {
    margin-top: 0;
    padding: 8px;
    width: 300px;
    font-weight: bold;
  }
  .get-started{
    color: orange;
  font-family: cursive;
  border: 2px solid orange;
  padding: 7px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 5px;
  }
}

/* Mobile Screen View */
@media (min-width:320px) and (max-width:600px){
  .investment-div {
    height: 550px;
    width: 98%;
    margin: auto;
    background-color: rgb(37, 4, 66);
    border-radius: 30px;
    margin-top: 50px;
  }
  
  .investment-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0px;
  }
  
  .investment-details {
    height: 200px;
    width: 100%;
    margin: auto;
  }
  
  .investment-details-title {
    font-family: Arial;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(236, 224, 224);
    margin-bottom: 0;
  }
  
  .investment-description{
    font-family: Arial;
      font-size: 0.7rem;
      font-weight: bold; 
      color: rgb(236, 224, 224);
      line-height: 25px;
      margin-top: 10px;
      padding: 10px;
      
  }
  
  .investment-image {
    height: 230px;
    height: 270px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    border-radius: 25px;
  }
  
  .investment-overlay-div{
    display: flex;
    align-items: center;
    gap: 3px;
    width:90%;
    height: 170px;
    margin:auto;
    background-color: rgb(213, 165, 245);
    border-radius: 40px;
    margin-top: -35px;
    margin-bottom: 70px;
    align-items:center;
    justify-content: center;
  }
  
  .investment-image-in{
    width: 70px;
      height: 70px;
      border-radius: 35px;
    margin-left: 5px;
  }
  
  .investment-name{
    font-family: Arial;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  
  .investment-role{
    margin-top: 0;
    padding: 8px;
    width: 200px;
  }
  .get-started{
    color: orange;
  font-family: cursive;
  border: 2px solid orange;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 4px;
  }
}

